/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
body{font-family: 'Lato', sans-serif;}
p{}

.header_area {background:#F8F8F8 }
.header_top { }
.logo {margin-bottom: 83px;margin-top: 65px; }
.main_menu {float: right;margin-bottom: 70px;margin-top: 55px; }
.main_menu ul{margin:0;padding:0;list-style:none; }
.main_menu ul li{float:left;border:1px solid #E1E1E1 }
.main_menu ul li a{border-top: 4px solid #e0e0e0;color: #959595;display: block;font-size: 16px;font-weight: 400;padding: 9px;text-decoration: none; }
.main_menu ul li a:hover{color:#e89222 }
.header_bottom {margin-bottom: -40px; }
.search_from {background:#fff;padding:10px;margin: 0 40px 0 55px;border-radius: 5px;border: 1px solid #e6e6e6;}
.search_from input[type=text]{border-radius: 0;float: left;height: 50px;margin-right: 20px;width:682px }
.search_from .btn.header_search_btn{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors:none;-moz-border-top-colors: none;background: none repeat scroll 0 0 #e89223;border-color: -moz-use-text-color;border-image:none;border-radius: 0;border-width: medium medium 1px;color: #fff;height: 50px;margin-top: -1px;width: 120px;font-size:24px}

.slider_area {background: url("img/slider.jpg") no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);height: 200px; }
.slider_bottom_area {background: none repeat scroll 0 0 #f6f4f4;border-bottom: 5px solid #d9d9d9; }
.slider_bottom_area h2{color:#8f8f8f;font-size:30px;font-weight:400;text-align:center }
.main_content_area { }
.main_top {margin-bottom: 40px;margin-top: 35px; }
.single_book_one {background: url("img/single_book.jpg") no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);padding: 20px; }
.single_book_one h3, .single_book_three h3, .single_book_two h3{color:#fff;font-size:12px;font-weight:400;text-transform:uppercase}
.single_book_one h2, .single_book_two h2, .single_book_three h2{color:#fff;font-size:17px;font-weight:700;margin-bottom:30px;margin-top:0px}
.single_book_one .btn.btn_wyastaw{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 2px solid #fff;border-radius: 0;color: #000;font-weight: 300;margin-bottom: 30px;}
.single_book_two {background: url("img/single_book2.jpg") no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);padding: 20px; }
.single_book_two h3{}
.single_book_two h2{}
.single_book_two .btn.btn_kontakt{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 2px solid #fff;border-radius: 0;color: #000;font-weight: 300;margin-bottom: 30px;}
.single_book_three {background: url("img/single_book3.jpg") no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);padding: 20px; }
.single_book_three h3{}
.single_book_three h2{}
.single_book_three .btn.btn_konto{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 2px solid #fff;border-radius: 0;color: #000;font-weight: 300;margin-bottom: 30px;}
.main_bottom {margin-bottom:90px;margin-top:20px }
.single_book_info {padding: 10px;border: 3px solid#E89223; }
.single_book_info img{width: 100%; }
.single_book_info h3{color:#575757;font-size:12px;text-transform:uppercase;font-weight:700 }
.single_book_info h4{color:#575757;font-size:10px;text-transform:uppercase;font-weight:700;margin-bottom:15px }
.book_info_dl { }
.btn_wiecej {background: none repeat scroll 0 0 #fff;border: 2px solid #d9d9d9;color: #000;font-weight: 700;margin-right:5px}
.btn_zamawiam {background: none repeat scroll 0 0 #e89223;border: medium none;color: #fff;font-weight: 700; }
.btn_zamawiam:hover{background:#c77c1c;color:#fff}
.footer_area { }
.footer_top {margin-bottom: -40px; }
.footer_search_from {background:#fff;padding:10px;margin:0 auto;border-radius: 5px;border: 1px solid #e6e6e6; }
.footer_search_from input[type=text]{border-radius: 0;float: left;height: 50px;margin-right: 10px;width:788px}
.footer_search_from .btn.btn_env_n{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors:none;-moz-border-top-colors: none;background: none repeat scroll 0 0 #e89223;border-color: -moz-use-text-color;border-image:none;border-radius: 0;border-width: medium medium 1px;color: #fff;height: 50px;margin-top: -1px;width: 120px;font-size:24px }
.fa-envelope { }
.footer {background: none repeat scroll 0 0 #f8f8f8;border-top: 5px solid #d9d9d9;padding-bottom: 180px;padding-top: 70px; }
.footer_left { }
.footer_left h2, .footer_middle h2{color:#e67e22;font-size:15px;font-weight:700 }
.footer_left p{font-weight:300;color:#787878 }
.footer_middle { }
.footer_middle h2{ }
.footer_tag { }
.footer_tag .btn{background: none repeat scroll 0 0 #adadad;margin-bottom: 5px;margin-right: 0px; }
.btn-xs { }
.footer_last {margin-top: 60px;text-align: right; }
.footer_last p{color:#787878;font-weight:300}

.main_middle{}
.middle_content{border-top: 1px solid #d9d9d9;margin-bottom:20px;position:relative;}
.middle_content h2{background: none repeat scroll 0 0 #fff;color: #383838;display: inline-block;font-size: 18px;font-weight: 400;left: 35%;margin-top: -12px;position: absolute;text-align: center;top: 0;padding:0 5px;}



/* Responsive Code */

@media (max-width: 768px) {
.search_from input[type="text"], .footer_search_from input[type="text"] {margin-right: 5px;width: 193px;}
.logo {margin-bottom: 0;margin-top: 35px;}
.main_menu ul li {margin-bottom: 8px;}
.main_menu ul li a {padding: 9px 5px;}
.main_menu {margin-top: 25px;}
.search_from {margin:0;}
.search_from .btn.header_search_btn, .footer_search_from .btn.btn_env_n {width: 70px;}
.slider_bottom_area h2 {font-size: 22px;}
.single_book_one, .single_book_two {margin-bottom: 10px;}
.middle_content h2 {left: 19px;}
.single_book_info {margin: 10px;}
.footer_last {margin-top: 30px;text-align: left;}

}

@media (min-width: 768px) {
.search_from input[type="text"] {margin-right: 10px;width: 473px;}
.logo {margin-top: 55px;margin-bottom: 83px;}
.footer_search_from input[type="text"] {margin-right: 10px;width: 568px;}
.main_menu ul li {margin-bottom: 0px;}
.main_menu ul li a {padding: 9px;}
.main_menu {margin-top: 55px;}
.search_from {margin: 0 40px 0 55px;}
.search_from .btn.header_search_btn, .footer_search_from .btn.btn_env_n{width: 120px;}
.slider_bottom_area h2 {font-size: 30px;}
.single_book_one, .single_book_two {margin-bottom: 0px;}
.middle_content h2 {left: 35%;}
.single_book_info {margin: 0px;}
.footer_search_from input[type="text"] {margin-right: 10px;width: 568px;}
.footer_last {margin-top: 60px;text-align: right;}

}

@media (min-width: 992px) {
.search_from input[type="text"] {margin-right: 10px;width: 693px;}
.logo {margin-top: 65px;margin-bottom: 83px;}
.footer_search_from input[type="text"] {margin-right: 10px;width: 788px;}
.main_menu ul li {margin-bottom: 0px;}
.main_menu ul li a {padding: 9px;}
.main_menu {margin-top: 55px;}
.search_from {margin: 0 40px 0 55px;}
.search_from .btn.header_search_btn, .footer_search_from .btn.btn_env_n {width: 120px;}
.slider_bottom_area h2 {font-size: 30px;}
.single_book_one, .single_book_two{margin-bottom:0;}
.middle_content h2 {left: 35%;}
.single_book_info {margin: 0px;}
.footer_search_from input[type="text"] {margin-right: 10px;width: 788px;}
.footer_last {margin-top: 60px;text-align: right;}
}
