<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BOOKSTREE Panel administracyjny</title>

    <!-- Bootstrap Core CSS -->

    <link href="{{ url_for('.static', filename='admin/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('.static', filename='admin/css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ url_for('.static', filename='admin/css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('.static', filename='admin/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('.static', filename='admin/css/plugins/morris.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('.static', filename='admin/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('admin_dashboard') }}">BOOKSTREE Panel administracyjny</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a class="active" href="{{ url_for('admin_dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_raports') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Raporty<span class="fa arrow"></span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_users') }}"><i class="fa fa-table fa-fw"></i> Użytkownicy</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_categories') }}"><i class="fa fa-edit fa-fw"></i> Kategorie</a>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-comments fa-fw"></i> Komentarze</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_offers') }}"><i class="fa fa-files-o fa-fw"></i> Ogłoszenia</a>
                        </li>
						<li>
                            <a href="{{ url_for('admin_newsletters') }}"><i class="fa fa-envelope fa-fw"></i>Newsletter</a>
                        </li>

						<li>
                            <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Wyloguj się</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <!-- TODO use moment.js lib -->
                    <h1 class="page-header">
                        Dzisiaj mamy 16-11-2014
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                <div class="alert alert-info">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Uwaga!</strong>
                    {% for message in messages %}{{ message }}{% endfor %}
                 </div>
                {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('.static', filename='admin/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('.static', filename='admin/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('.static', filename='admin/js/plugins/metisMenu/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('.static', filename='admin/js/sb-admin-2.js') }}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('.static', filename='admin/js/plugins/morris/raphael.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='admin/js/plugins/morris/morris.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='admin/js/plugins/morris/morris-data.min.js') }}"></script>

</body>

</html>
