{% block content %}
    <tr class="odd gradeX">
        <td>{{ category.id }} </td>
        <td>{{ category.name }}</td>
        <td class="center">
            <div class="tooltip-demo">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Edycja danych"><i class="fa fa-pencil fa-fw"></i> </button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Usuń kategorię"><i class="fa fa-times fa-fw"></i> </button>
            </div>
        </td>
    </tr>
{% endblock %}