<!-- extend base layout -->
{% extends "admin/base_admin.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ogłoszenia:</h1>

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dane
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">               
                            <td>{{ offer.id }}</td>
                            <td><a href="#">{{ offer.name }}</a></td>
                            <td>{{ offer.user_id}}</a></td>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}