<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Dodaj nowe ogłoszenie</h1>
    <form action="" method="post" name="offer/create" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="input-group">
            Nazwa ogłoszenia:<br>
            <input  class="form-control" id="name" name="name" type="text" value="">
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
			Tytuł:<br>
            {{ form.title }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
			Autor:<br>
            {{ form.book_author }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Cena za sztukę:<br>
            <input  class="form-control" id="price" name="price" type="text" value="">
            {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
			Koszt przesyłki:<br>
            {{ form.shipping }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Liczba sztuk:<br>
            <input  class="form-control" id="count" name="count" type="text" value="">
            {% for error in form.count.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Kategoria:<br>

            <select class="btn btn-default" id="category_id" name="category_id">
                <option value="1">matematyka</option>
                <option value="2">fizyka</option>
            </select>
            
            {% for error in form.category_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
     
            <label for="comment">Opis przedmiotu:</label>
            <textarea class="form-control" rows="5" id="body" name="body"></textarea>
            {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Zdjęcie:
            <input class="btn btn-default" name="upload" type="file">
        
        <p><input class="btn btn-default btn-lg" type="submit" value="Dodaj"></p>
        </div>
    </form>
{% endblock %}
