<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h3>Na tej stronce mozesz sie zalogowac. Logowanie zrobione w pythonie.</h3>
 
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Twój e-mail:<br>
            {{ form.email }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Hasło:<br>
            {{ form.password }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p><input class="btn btn-embossed btn-primary" type="submit" value="Zaloguj się"></p>  

    </form>
{% endblock %}
