<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Skontaktuj się ze sprzedającym</h1>
    <form action="" method="post" name="question" enctype="multipart/form-s">
        {{ form.hidden_tag() }}
        <div class="input-group">
			Temat:<br>
			<input  class="form-control" id="subject" name="subject" type="text" value="">
            {% for error in form.subject.errors %}
                <div class="alert-group">
                            <div style="padding:5px;margin:5px 0px 0px 0px;" class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <span>{{ error }}</span>
                            </div>
                        </div>
            {% endfor %}<br>

            <label for="comment">Treść wiadomości:</label>
            <textarea class="form-control" rows="5" id="message" name="message"></textarea>
            {% for error in form.message.errors %}
                <div class="alert-group">
                            <div style="padding:5px;margin:5px 0px 0px 0px;" class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <span>{{ error }}</span>
                            </div>
                        </div>
            {% endfor %}<br>
        
        <p><input style="margin-top:5px;" class="btn btn-default btn-lg" type="submit" value="Wyślij wiadomość"></p>
        </div>
    </form>
{% endblock %}
