<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Zarejestruj się</h1>
    <form action="" method="post" name="register">
        {{ form.hidden_tag() }}
        <p>
            Twój e-mail:<br>
            {{ form.email }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Nickname:<br>
            {{ form.nickname }}
            {% for error in form.nickname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Hasło:<br>
            {{ form.password }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Powtórz hasło:<br>
            {{ form.password_repeat }}
            {% for error in form.password_repeat.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Ulica:<br>
            {{ form.street }}
            {% for error in form.street.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Numer budynku:<br>
            {{ form.building_number }}
            {% for error in form.building_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Numer lokalu:<br>
            {{ form.door_number }}
            {% for error in form.door_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Miasto:<br>
            {{ form.city }}
            {% for error in form.city.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Kod pocztowy:<br>
            {{ form.zipcode }}
            {% for error in form.zipcode.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Kraj:<br>
            {{ form.country }}
            {% for error in form.country.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Telefon:<br>
            {{ form.phone }}
            {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Zarejestruj się"></p>
    </form>
{% endblock %}
