<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="oglos_area">
        <div class="col-md-3 col-sm-3">
        <div class="oglos_left">
            <h3>Menu</h3>
            <ul>
                <li><a href="./../to/pay">Do zapłaty 
                    {% for number_of_transaction_to_pay_for in number_of_transactions_to_pay_for %}
                    {% if number_of_transaction_to_pay_for!=0 %}
                    ({{number_of_transaction_to_pay_for}})
                    {% endif %}
                    {% endfor %}
                </a></li>
                <li><a href="./../to/send">Do wysyłki 
                    {% for number_of_transaction_to_send in number_of_transactions_to_send %}
                    {% if number_of_transaction_to_send.1!=0 %}
                    ({{number_of_transaction_to_send.1}})
                    {% endif %}
                    {% endfor %}</a></li>
                    <li><a href="../my/offers/current">Moje oferty</a></li>
                    <li><a href="../comment">Skomentuj zakup</a></li>      
                    <li><a href="../about/me">Moje dane</a></li>           
                    <li><a href="../archive">Archiwum transakcji</a></li>  
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">

        

<a href="../"><button class="btn btn_submit">WSTECZ</button></a>
<h1>Skomentuj transakcję:</h1>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Transakcja</th>
                    <th>Data</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction_to_comment in transactions_to_comment %}
                <tr class="odd gradeX">
                    <td>{{transaction_to_comment.name}}</td>
                    <td>
                    {{ transaction_to_comment.timestamp.year }}-{{ transaction_to_comment.timestamp.month }}-{{ transaction_to_comment.timestamp.day }}
                    </td>
                    <td>
                        <form action="/comment/new/{{transaction_to_comment.id}}">
                             <input class="btn btn-default" type="submit" value="Skomentuj!">
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>
</div>
 <!-- /.column right end -->
</div>
 <!--
	<a href="../">Wstecz</a>
    <h1>Dodaj komentarz:</h1>
    {% for transaction_to_comment in transactions_to_comment %}
            {{transaction_to_comment.id}} --- {{transaction_to_comment.name}} --- {{ transaction_to_comment.timestamp.year }}-{{ transaction_to_comment.timestamp.month }}-{{ transaction_to_comment.timestamp.day }}</a>
            <form action="/comment/new/{{transaction_to_comment.id}}">
                <input type="submit" value="Skomentuj!!">
            </form>
            <br>
    {% endfor %}
-->
    {% if transactions_to_comment.count()==0 %}
                Pusto i cicho
            {% endif %}
{% endblock %}