<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<a href="/user/dashboard/">Wstecz</a>
    <h1>Twoje dane:</h1>
    <form action="" method="post" name="YourInformationForm">
        {{ form.hidden_tag() }}
        <p>
            Imię: <br>
            {{ form.user_name(value=user.user_name) }}
            {% for error in form.user_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Nazwisko: <br>
            {{ form.surname(value=user.surname) }}
            {% for error in form.surname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Ulica: <br>
            {{ form.street(value=user.street) }}
            {% for error in form.street.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Numer budynku: <br>
            {{ form.building_number(value=user.building_number) }}
            {% for error in form.building_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Numer lokalu: <br>
            {{ form.door_number(value=user.door_number) }}
            {% for error in form.door_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Miasto: <br>
            {{ form.city(value=user.city) }}
            {% for error in form.city.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Kod pocztowy: <br>
            {{ form.zipcode(value=user.zipcode) }}
            {% for error in form.zipcode.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Kraj: <br>
            {{ form.country(value=user.country) }}
            {% for error in form.country.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            Telefon: <br>
            {{ form.phone(value=user.phone) }}
            {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
        </p>
        <p><input type="submit" value="Potwierdź"></p>
    </form>
    <form action="/user/dashboard/change/password">
      <input type="submit" value="Zmień hasło">
    </form>
    <form action="#">
      <input type="submit" value="Zmień e-mail">
    </form>
{% endblock %}