<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="oglos_area">
        <div class="col-md-3 col-sm-3">
        <div class="oglos_left">
            <h3>Menu</h3>
            <ul>
                <li><a href="../../to/pay">Do zapłaty 
                    {% for number_of_transaction_to_pay_for in number_of_transactions_to_pay_for %}
                    {% if number_of_transaction_to_pay_for!=0 %}
                    ({{number_of_transaction_to_pay_for}})
                    {% endif %}
                    {% endfor %}
                </a></li>
                <li><a href="{{ url_for('user_dashboard_to_wait') }}">W trakcie realizacji
                    {% for number_of_transaction_to_wait in number_of_transactions_to_wait %}
                        {% if number_of_transaction_to_wait!=0 %}
                            ({{number_of_transaction_to_wait}})
                        {% endif %}
                    {% endfor %}
                </a></li>
                <li><a href="../../to/send">Do wysyłki 
                    {% for number_of_transaction_to_send in number_of_transactions_to_send %}
                    {% if number_of_transaction_to_send.1!=0 %}
                    ({{number_of_transaction_to_send.1}})
                    {% endif %}
                    {% endfor %}</a></li>
                    <li><a href="../../my/offers/current">Moje oferty</a></li>
                    <li><a href="../../about/me">Moje dane</a></li>           
                    <li><a href="../../archive">Archiwum transakcji</a></li>  
                </ul>
            </div>
        </div>
<div class="col-md-9 col-sm-9">
    <a href="/user/dashboard/"><button class="btn btn_submit">WSTECZ</button></a>
    <h1>Zmień swoje hasło:</h1>
    
        <form action="" method="post" name="change_password">
            {{ form.hidden_tag() }}
            Obecne hasło: <br>
            <input class="form-control" id="old_password" name="old_password" type="password" value="">
                    {% for error in form.old_password.errors %}
                        <div class="alert-group">
                            <div style="padding:5px;margin:5px 0px 0px 0px;" class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <span>{{ error }}</span>
                            </div>
                        </div>
                    {% endfor %}
            
            Nowe hasło:<br>
            <input class="form-control" id="new_password_1" name="new_password_1" type="password" value="">
                    {% for error in form.new_password_1.errors %}
                        <div class="alert-group">
                            <div style="padding:5px;margin:5px 0px 0px 0px;" class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <span>{{ error }}</span>
                            </div>
                        </div>
                    {% endfor %}
            Powtórz nowe hasło:<br>
            <input class="form-control" id="new_password_2" name="new_password_2" type="password" value="">
                    {% for error in form.new_password_2.errors %}
                        <div class="alert-group">
                            <div style="padding:5px;margin:5px 0px 0px 0px;" class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <span>{{ error }}</span>
                            </div>
                        </div>
                    {% endfor %}
            <p><input class="btn btn-default btn-lg" type="submit" value="Potwierdź"></p>
        </form>

</div>
</div>


{% endblock %}