<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="oglos_area">
	<div class="col-md-3 col-sm-3">
		<div class="oglos_left">
			<h3>Menu</h3>
			<ul>
				<li><a href="to/pay">Do zapłaty 
					{% for number_of_transaction_to_pay_for in number_of_transactions_to_pay_for %}
						{% if number_of_transaction_to_pay_for!=0 %}
							({{number_of_transaction_to_pay_for}})
						{% endif %}
					{% endfor %}
				</a></li>
				<li><a href="{{ url_for('user_dashboard_to_wait') }}">W trakcie realizacji
					{% for number_of_transaction_to_wait in number_of_transactions_to_wait %}
						{% if number_of_transaction_to_wait!=0 %}
							({{number_of_transaction_to_wait}})
						{% endif %}
					{% endfor %}
				</a></li>
				<li><a href="to/send">Do wysyłki 
					{% for number_of_transaction_to_send in number_of_transactions_to_send %}
						{% if number_of_transaction_to_send.1!=0 %}
							({{number_of_transaction_to_send.1}})
						{% endif %}
					{% endfor %}</a></li>
					<li><a href="my/offers/current">Moje oferty</a></li>	    
					<li><a href="about/me">Moje dane</a></li>    	    
					<li><a href="archive">Archiwum transakcji</a></li>  
				</ul>
			</div>
		</div>
		<div class="col-md-9 col-sm-9">
			<h2>Witaj, {{ g.user.nickname}}!</h2>
			<p>Możesz wybrać interesującą się opcję z menu po lewej.</p>
			<p><a href="{{ url_for('show_profile', user_id=g.user.id) }}">Mój profil </a></p>
		</div>
</div>
{% endblock %}